/*------------------------------
Footer
------------------------------*/

.footer {

	padding: 0 1.25em;
	color: $color-base-white;
	background: $color-base-black;

	// For local development.

	background: pink;

}

	.footer__wrap {

		position: relative;
		width: 100%;
		max-width: 1160px;
		margin: 0 auto;
		padding: 3.75em 0 11em 0;

		@media screen and (min-width: 900px) {

			padding: 3.75em 0 2.5em 0;

		}

	}

		.secondary-logo {

			position: relative;
			width: 120px;
			margin: 0 auto;
			z-index: 5; // Makes sure this appears above the background image.

		}

			.secondary-logo__link {

				display: block;
				height: 70px;
				background: darken(pink, 5%);
				@include hide-text;

			}

		.copyright {

			position: relative;
			margin: 2.5em 0 0 0;
			font-size: 0.875rem;
			text-transform: uppercase;
			text-align: center;
			z-index: 5; // Makes sure this appears above the background image.

		}

		.social {

			position: relative;
			// margin: 1.25em 0 0 0;
			z-index: 5; // Makes sure this appears above the background image.

		}

			.social__list {

				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
				align-items: flex-start;
				align-content: flex-start;

				margin: 0;
				padding: 0;
				list-style: none;

			}

				.social__item {

					width: 100px; // Temporary until images are added.
					margin: 1.25em 0.625em 0 0.625em;

				}

					.social__link {

						display: block;
						height: 30px;
						background: darken(pink, 5%);
						@include hide-text;

					}

				// Facebook

				.social__item--facebook {

					.social__link {}

				}

				// Instagram

				.social__item--instagram {

					.social__link {}

				}

				// Twitter

				.social__item--twitter {

					.social__link {}

				}

				// YouTube

				.social__item--youtube {

					.social__link {}

				}

				// Vimeo

				.social__item--vimeo {

					.social__link {}

				}
		
		.footer__background {

			position: absolute;
			left: 50%;
			bottom: 0;
			margin-left: -180px;
			z-index: 1;

			@media screen and (min-width: 900px) {

				left: 0;
				margin: 0;

			}

		}

			.footer__img {}