/*------------------------------
Header
------------------------------*/

.header {}

	.header__wrap {}

		/* Logo */

		.logo {

			position: fixed;
			left: 1.25em;
			top: 1.25em;
			width: 120px;
			z-index: 9999; // Makes sure this appears above everything.

		}

			.logo__link {

				display: block;
				height: 65px;
				background: darken(pink, 5%);
				@include hide-text;

			}

				.logo__img {}

		/* Navigation */

		.navigation {

			position: fixed;
			right: 2.1875em;
			top: 2.1875em;
			z-index: 9999; // Makes sure this appears above everything.

		}

		.navigation--is-open {}

			.navigation__toggle {

				position: relative;
				z-index: 5; // Makes sure toggle appears above navigation list.

			}

				.navigation__label {

					display: block;
					width: 40px;
					height: 40px;
					background: darken(pink, 10%);
					border-radius: 8px;
					cursor: pointer;
					@include hide-text;

				}

			.navigation__list {

				// display: none; // Temporarily hidden.

				position: absolute;
				right: 0;
				top: 0;

				margin: 0;
				padding: 56px 0 0 0;
				list-style: none;

				background: rgba($color-base-black, 0.27);
				border-radius: 8px;

				z-index: 1;

			}

				.menu-item,
				.navigation__item {

					margin: 0;
					text-transform: uppercase;
					text-align: right;

					a {

						display: block;

						padding: 0.5em 1em;
						color: $color-base-white;

						&:hover {

							text-decoration: none;

						}

					}

				}

					.navigation__link {}