/*------------------------------
Header
------------------------------*/

.header {

	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;

}

	.header__wrap {

		height: 120px;
		background: url(../img/header-curve.svg) center bottom no-repeat;
		background-size: cover;

	}

		/* Logo */

		.logo {

			position: fixed;
			left: 1.25em;
			top: 1.25em;
			width: 120px;
			z-index: 9999; // Makes sure this appears above everything.

		}

			.logo__link {

				display: block;
				height: 65px;
				// background: darken(pink, 5%);
				@include hide-text;

			}

				.logo__img {}

		/* Navigation */

		.navigation {

			position: fixed;
			right: 1.25em;
			top: 2.1875em;
			z-index: 9999; // Makes sure this appears above everything.

		}

		.navigation--is-open {}

			.navigation__toggle {

				position: relative;
				z-index: 5; // Makes sure toggle appears above navigation list.

			}

				.navigation__label {

					display: block;
					width: 40px;
					height: 40px;
					background: url(../img/navigation-toggle.svg) 0 0 no-repeat;
					background-size: 80px 40px;
					border-radius: 8px;
					cursor: pointer;
					@include hide-text;

					.navigation--is-open & {

						background-position-x: -40px;

					}

				}

			.navigation__list {

				// display: none; // Temporarily hidden.

				position: absolute;
				right: 0;
				top: 0;
				width: 40px;
				height: 0;
				margin: 0;
				padding: 40px 0 0 0;
				list-style: none;
				background: rgba($color-base-black, 0.27);
				border-radius: 8px;
				overflow: hidden;
				transition: width 0.35s ease-in-out, height 0.25s ease-in-out;
				z-index: 1;

				.navigation--is-open & {

					width: 100px;
					height: 160px;
					padding: 40px 0 0 0;

				}

			}

				.menu-item,
				.navigation__item {

					margin: 0;
					text-transform: uppercase;
					text-align: right;
					opacity: 0;
					transition: opacity 0.70s ease-in-out;

					.navigation--is-open & {

						opacity: 1;

					}

					a {

						display: block;

						padding: 0.5em 1em;
						color: $color-base-white;

						&:hover {

							text-decoration: none;

						}

					}

				}

					.navigation__link {}
