/*------------------------------
Entry: Project
------------------------------*/

.project {

	padding: 0 1.25em;

	// background: pink;

}

	.project__inner-wrap {

		width: 100%;
		max-width: 820px;
		margin: 0 auto;
		padding: 190px 50px 220px 50px; // Left and right padding gives some room for the navigation arrows.
		background: darken(pink, 5%);

	}

		.project__overview {

			position: relative;
			background: pink;

		}

			.project__s-title {

				font-size: 2rem;
				color: $color-base-white;

			}

			.project__return {

				position: absolute;
				left: -54px; // Allows for a 20px gap.
				top: -5px; // To align with first line of project title.
				z-index: 1;

			}

				.project__return-link {

					display: block;
					width: 40px;
					height: 40px;
					background: url(../img/return-to-work-arrow.svg) center center no-repeat;
					background-size: 40px 40px;
					@include hide-text;

					&:hover {}

				}

			.project__meta {

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: flex-start;
				align-content: flex-start;

				// background: darken(pink, 10%);

			}

				.project__s-cover {

					width: 190px;

				}

					.project__s-img {}

				.project__details {

					width: calc(100% - 190px);
					padding: 0 0 0 2em;

				}

					.project__description {

						color: $color-base-white;

						p {

							&:last-of-type {

								margin: 0;

							}

						}

							a {

								&:hover {}

							}

					}

					.project__extra {

						margin: 4rem 0 0 0;

					}

						.project__date {

							color: $color-base-white;

						}

						.project__location {

							color: $color-base-white;

						}

						.project__client {

							margin: 1.25em 0 0 0;

						}

							.client__label {

								color: $color-base-white;

							}

							.client__list {

								margin: 0;
								padding: 0;
								list-style: none;

							}

								.client__item {

									display: inline-block;
									margin: 0;
									color: $color-base-white;

									&:after {

										content: "\2c"; // Adds a comma after each client name.

									}

									&:last-of-type {

										&:after {

											content: none; // Removes comma from last client name in the list.

										}

									}

								}

		.project__samples {

			margin: 120px 0 0 0;
			padding: 80px 0 0 0;
			// background: darken(pink, 15%);

		}

			.samples__title {

				// Need to name better.

				position: relative;

			}

				.samples__list {}

					.slick-list {}

						.slick-track {}					

							.slick-slide {

								div {}

							}

							.slick-current {}

							.slick-active {}

								// <div>

									.sample__item {}

									.sample__item--still {}

									.sample__item--video {}

										.sample__img {

											height: auto;

										}

				.slick-arrow {

					position: absolute;
					top: 50%;
					width: 40px;
					height: 40px;
					margin-top: -20px;
					background: url(../img/sample-navigation.svg) 0 0 no-repeat;
					background-size: 80px 40px;
					cursor: pointer;
					@include hide-text;
					opacity: 0.45;
					transition: opacity 0.35s ease-in-out;
					z-index: 1;

					&:hover {

						opacity: 1;

					}

				}

				.sample__previous {

					left: -54px;

				}

				.sample__next {

					right: -54px;
					background-position-x: -40px;

				}

			.samples__nav {}

				.thumbnails__list {}

					.slick-list {}

						.slick-track {}

							.slick-slide {

								div {}

							}

							.slick-current {}

							.slick-active {}

							.slick-center {}

								// <div>

									.thumbnail__item {}

										.thumbnail__img {

											height: auto;

										}


/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

