/*------------------------------
Page: Work
------------------------------*/

.projects {

	padding: 0 0.875em; // Accounts for left and right margins for project items.

	background: pink;

}

	.projects__inner-wrap {

		width: 100%;
		max-width: 808px;
		margin: 0 auto;
		background: darken(pink, 5%);

	}

		.projects__nav {}

		.projects__header {}

			.projects__categories {}
			
		.filter__input {}

		.filter__input--radio {}

		.filter__list {}

			.filter__item {}

				.filter__label {}

		.projects__list {

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;

			margin: 0;
			padding: 0;
			list-style: none;

			// background: darken(pink, 10%);

			&:hover {

				.project__item {

					opacity: 0.35;

					&:hover {

						opacity: 1;

					}

				}

			}

		}

			.project__item {

				width: 190px;
				margin: 0.75em 0.375em 0 0.375em;
				transition: all 0.35s ease-in-out;

				&:hover {

					position: relative;
					outline: 3px solid $color-base-white;
					box-shadow: 0 0 25px 5px rgba($color-base-white, 0.75);
					z-index: 5;

				}

			}

			.project__item--gap {

				margin-top: 0;

			}

			.project__item--gap {}

				.project__link {

					position: relative;
					display: block;
					overflow: hidden; // This is temporary until long title names are figured out.

					&:hover {}

				}

					.project__cover {}

						.project__img {

							height: auto !important;

						}

					.project__title {

						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						margin: 0;
						padding: 1em;
						color: $color-base-white;
						background: rgba($color-base-black, 0.70);
						opacity: 0;
						transition: opacity 0.35s ease-in-out;
						z-index: 1;

						.project__link:hover & {

							opacity: 1;

						}

					}



// Need to organize Category Filter

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--black: #3a3a3a;
	--white: #fff;
	--green: #49b293;
  }
  
input[type="radio"] {

	position: absolute;
	left: -9999px;

}
  
  
  /* projects__filter
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .projects__filter {
  }
  
  .projects__filter * {
	display: inline-block;
  }
  
  .projects__filter label {
	padding: 0.5rem 1rem;
	// border-radius: 2rem;
	min-width: 50px;
	line-height: normal;
	cursor: pointer;
	transition: all 0.1s;
  }
  
  .projects__filter label:hover {
	background: darken(pink, 10%);
	color: var(--white);
  }

  /* FILTERING RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [value="See All"]:checked ~ .projects__filter [for="all"],
  [value="Animation"]:checked ~ .projects__filter [for="animation"],
  [value="Branding"]:checked ~ .projects__filter [for="branding"],
  [value="Comedy"]:checked ~ .projects__filter [for="comedy"],
  [value="Concept"]:checked ~ .projects__filter [for="concept"],
  [value="Documentary"]:checked ~ .projects__filter [for="documentary"],
  [value="Educational"]:checked ~ .projects__filter [for="educational"],
  [value="Graphics"]:checked ~ .projects__filter [for="graphics"],
  [value="Horror"]:checked ~ .projects__filter [for="horror"],
  [value="Montage"]:checked ~ .projects__filter [for="montage"],
  [value="Music Video"]:checked ~ .projects__filter [for="music-video"],
  [value="Production"]:checked ~ .projects__filter [for="production"],
  [value="Projection Mapping"]:checked ~ .projects__filter [for="projection-mapping"],
  [value="Promo"]:checked ~ .projects__filter [for="promo"],
  [value="Scripted"]:checked ~ .projects__filter [for="scripted"],
  [value="Short"]:checked ~ .projects__filter [for="short"],
  [value="Special Venue"]:checked ~ .projects__filter [for="special-venue"],
  [value="Star Talent"]:checked ~ .projects__filter [for="star-talent"],
  [value="Television"]:checked ~ .projects__filter [for="television"],
  [value="Visual Effects"]:checked ~ .projects__filter [for="visual-effects"] {

	background: darken(pink, 10%);
	color: var(--white);
 
}
  
  [value="See All"]:checked ~ .projects__list [data-category] {
	display: block;
  }
  
  [value="Animation"]:checked ~ .projects__list .project__item:not([data-category~="animation"]),
  [value="Branding"]:checked ~ .projects__list .project__item:not([data-category~="branding"]),
  [value="Comedy"]:checked ~ .projects__list .project__item:not([data-category~="comedy"]),
  [value="Concept"]:checked ~ .projects__list .project__item:not([data-category~="concept"]),
  [value="Documentary"]:checked ~ .projects__list .project__item:not([data-category~="documentary"]),
  [value="Educational"]:checked ~ .projects__list .project__item:not([data-category~="educational"]),
  [value="Graphics"]:checked ~ .projects__list .project__item:not([data-category~="graphics"]),
  [value="Horror"]:checked ~ .projects__list .project__item:not([data-category~="horror"]),
  [value="Montage"]:checked ~ .projects__list .project__item:not([data-category~="montage"]),
  [value="Music Video"]:checked ~ .projects__list .project__item:not([data-category~="music-video"]),
  [value="Production"]:checked ~ .projects__list .project__item:not([data-category~="production"]),
  [value="Projection Mapping"]:checked ~ .projects__list .project__item:not([data-category~="projection-mapping"]),
  [value="Promo"]:checked ~ .projects__list .project__item:not([data-category~="promo"]),
  [value="Scripted"]:checked ~ .projects__list .project__item:not([data-category~="scripted"]),
  [value="Short"]:checked ~ .projects__list .project__item:not([data-category~="short"]),
  [value="Special Venue"]:checked ~ .projects__list .project__item:not([data-category~="special-venue"]),
  [value="Star Talent"]:checked ~ .projects__list .project__item:not([data-category~="star-talent"]),
  [value="Television"]:checked ~ .projects__list .project__item:not([data-category~="television"]),
  [value="Visual Effects"]:checked ~ .projects__list .project__item:not([data-category~="visual-effects"]) {
	display: none;
  }
  