/*------------------------------
Page: Work
------------------------------*/

.projects {

	padding: 0 0.875em; // Accounts for left and right margins for project items.

	// Gradient to use...

	// background: linear-gradient(rgb(0, 3, 70) 0%, rgba(255, 160, 0, 1) 100%),
	// 			linear-gradient(60deg, rgb(0, 5, 34) 0%, rgb(0, 255, 229) 100%),
	// 			radial-gradient(100% 165% at 100% 100%, rgb(255, 0, 168) 0%, rgb(0, 255, 120) 100%),
	// 			radial-gradient(100% 150% at 0% 0%, rgb(255, 245, 0) 0%, rgb(81, 213, 0) 100%);

	// background-blend-mode: overlay, soft-light, difference, normal;

	background: url(../img/work-gradient-small.png) center bottom no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;

	// background: pink;

}

	.projects__inner-wrap {

		width: 100%;
		max-width: 808px;
		margin: 0 auto;
		padding: 190px 0 220px 0;
		// background: darken(pink, 5%);

	}

		.projects__categories {}
			
		.filter__input {}

		.filter__input--radio {}

		.projects__nav {

			position: relative;

			width: 100%;
			height: 44px;
			margin: 0 auto 1.25em auto;

			// background: pink;

		}

			.projects__header {

				display: block;
				height: 44px; // Matches height of dropdown.
				margin: 0;
				padding: 9px 0 0 0;
				font-size: 1.75em;
				text-align: left;

			}

			.filter__list {

				position: absolute;
				right: 0;
				top: 4px;
				width: 230px;
				height: 40px;
				margin: 0;
				padding: 40px 0 0 0;
				list-style: none;
				// border: 2px solid $color-base-white;
				// background: rgba($color-base-black, 0.90);
				overflow: hidden;
				// border-radius: 20px;
				cursor: pointer;
				z-index: 999;

				&:after {

					content: '';

					position: absolute;
					right: 0.75em;
					top: 8px;
					width: 9px;
					height: 24px;
					background: url(../img/filter-toggle.svg) 0 0 no-repeat;
					background-size: 9px 24px;

				}

				&.filter__list--is-open {

					height: auto;
					overflow: auto;

				}

			}

				.filter__item {

					margin: 0;

					&:last-of-type {

						margin: 0;

					}

				}

					.filter__label {

						height: 40px;
						padding: 0.5625em 0 0 0.75em;
						background: rgba($color-base-black, 0.90) !important;

					}

		.projects__list {

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;

			margin: 0;
			padding: 0;
			list-style: none;

			// background: darken(pink, 10%);

			&:hover {

				.project__item {

					opacity: 0.35;

					&:hover {

						opacity: 1;

					}

				}

			}

		}

			.project__item {

				width: 190px;
				margin: 0.75em 0.375em 0 0.375em;
				transition: all 0.35s ease-in-out;

				&:hover {

					position: relative;
					// outline: 3px solid $color-base-white;
					box-shadow: 0 0 25px 5px rgba($color-base-white, 0.75);
					z-index: 5;

				}

			}

			.project__item--gap {

				margin-top: 0;

			}

			.project__item--gap {}

				.project__link {

					position: relative;
					display: block;
					overflow: hidden; // This is temporary until long title names are figured out.

					&:hover {}

				}

					.project__cover {}

						.project__img {

							height: auto !important;

						}

					.project__title {

						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						margin: 0;
						padding: 1em 0.75em 0.75em 0.75em;
						font-size: 1.25rem;
						color: $color-base-white;
						background: rgba($color-base-black, 0.70);
						mask: url(../img/cover-curve.svg);
						opacity: 0;
						transition: opacity 0.35s ease-in-out;
						z-index: 1;

						.project__link:hover & {

							opacity: 1;

						}

					}



// Need to organize Category Filter

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
	--black: #3a3a3a;
	--white: #fff;
	--green: #49b293;
  }
  
input[type="radio"] {

	position: absolute;
	left: -9999px;

}
  
  
  /* projects__filter
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .projects__filter {
  }
  
  .projects__filter * {
	// display: inline-block;
  }
  
  .projects__filter label {
	// padding: 0.5rem 1rem;
	// border-radius: 2rem;
	// min-width: 50px;
	// line-height: normal;
	cursor: pointer;
	// transition: all 0.1s;
  }
  
  .projects__filter label:hover {
	background: rgba($color-base-white, 0.10);
	color: var(--white);
  }

  /* FILTERING RULES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  [value="All"]:checked ~ .projects__nav .projects__filter [for="all"],
  [value="Animation"]:checked ~ .projects__nav .projects__filter [for="animation"],
  [value="Branding"]:checked ~ .projects__nav .projects__filter [for="branding"],
  [value="Comedy"]:checked ~ .projects__nav .projects__filter [for="comedy"],
  [value="Concept"]:checked ~ .projects__nav .projects__filter [for="concept"],
  [value="Documentary"]:checked ~ .projects__nav .projects__filter [for="documentary"],
  [value="Educational"]:checked ~ .projects__nav .projects__filter [for="educational"],
  [value="Graphics"]:checked ~ .projects__nav .projects__filter [for="graphics"],
  [value="Horror"]:checked ~ .projects__nav .projects__filter [for="horror"],
  [value="Montage"]:checked ~ .projects__nav .projects__filter [for="montage"],
  [value="Music Video"]:checked ~ .projects__nav .projects__filter [for="music-video"],
  [value="Production"]:checked ~ .projects__nav .projects__filter [for="production"],
  [value="Projection Mapping"]:checked ~ .projects__nav .projects__filter [for="projection-mapping"],
  [value="Promo"]:checked ~ .projects__nav .projects__filter [for="promo"],
  [value="Scripted"]:checked ~ .projects__nav .projects__filter [for="scripted"],
  [value="Short"]:checked ~ .projects__nav .projects__filter [for="short"],
  [value="Special Venue"]:checked ~ .projects__nav .projects__filter [for="special-venue"],
  [value="Star Talent"]:checked ~ .projects__nav .projects__filter [for="star-talent"],
  [value="Television"]:checked ~ .projects__nav .projects__filter [for="television"],
  [value="Visual Effects"]:checked ~ .projects__nav .projects__filter [for="visual-effects"] {

	background: rgba($color-base-white, 0.15);
	color: var(--white);

	&:after {

		content: "Sort by: " attr(aria-label);

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 40px;
		padding: 0.5625em 0 0 0.75em;
		// text-transform: uppercase;
		// background: orange;
		z-index: 1;

	}
 
}
  
  [value="All"]:checked ~ .projects__list [data-category] {
	display: block;
  }
  
  [value="Animation"]:checked ~ .projects__list .project__item:not([data-category~="animation"]),
  [value="Branding"]:checked ~ .projects__list .project__item:not([data-category~="branding"]),
  [value="Comedy"]:checked ~ .projects__list .project__item:not([data-category~="comedy"]),
  [value="Concept"]:checked ~ .projects__list .project__item:not([data-category~="concept"]),
  [value="Documentary"]:checked ~ .projects__list .project__item:not([data-category~="documentary"]),
  [value="Educational"]:checked ~ .projects__list .project__item:not([data-category~="educational"]),
  [value="Graphics"]:checked ~ .projects__list .project__item:not([data-category~="graphics"]),
  [value="Horror"]:checked ~ .projects__list .project__item:not([data-category~="horror"]),
  [value="Montage"]:checked ~ .projects__list .project__item:not([data-category~="montage"]),
  [value="Music Video"]:checked ~ .projects__list .project__item:not([data-category~="music-video"]),
  [value="Production"]:checked ~ .projects__list .project__item:not([data-category~="production"]),
  [value="Projection Mapping"]:checked ~ .projects__list .project__item:not([data-category~="projection-mapping"]),
  [value="Promo"]:checked ~ .projects__list .project__item:not([data-category~="promo"]),
  [value="Scripted"]:checked ~ .projects__list .project__item:not([data-category~="scripted"]),
  [value="Short"]:checked ~ .projects__list .project__item:not([data-category~="short"]),
  [value="Special Venue"]:checked ~ .projects__list .project__item:not([data-category~="special-venue"]),
  [value="Star Talent"]:checked ~ .projects__list .project__item:not([data-category~="star-talent"]),
  [value="Television"]:checked ~ .projects__list .project__item:not([data-category~="television"]),
  [value="Visual Effects"]:checked ~ .projects__list .project__item:not([data-category~="visual-effects"]) {
	display: none;
  }
  