/*------------------------------
Section: About
------------------------------*/

// Notes...

.section__about {

	padding: 0 1.25em;

	// background: darken(pink, 10%);

	// clip-path: ellipse(100% 100% at 50% 100%);

}

	.about__inner-wrap {

		width: 100%;
		max-width: 880px;
		margin: 0 auto;
		padding: 140px 0 260px 0;

		// background: darken(pink, 5%);

	}

		.about__header {

			display: none; // This is currently not in use.

		}

		.about__overview {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: flex-end;
			align-content: flex-start;

			// background: darken(pink, 10%);

		}

			.about__mission-statement {

				width: calc(100% - 240px);
				padding: 0 2.5em 0 0;

				p {

					&:last-of-type {

						margin: 0;

					}

				}

					b,
					strong {

						font-size: 1.50em;
						line-height: 1.2;

					}

			}

			.about__founded {

				width: 240px;
				text-align: right;
				overflow: hidden;

				span {

					font-size: 4.0rem;
					line-height: 0.75; // Adjustment to make sure this baseline aligns with the overview baseline.

				}

			}

		.about__members {

			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: flex-start;
			align-content: flex-start;

			margin: 130px 0 0 0;
			// background: darken(pink, 10%);

		}

			.member__type {}

			.member__type--core-team {

				position: relative;
				width: 420px;
				// background: gray;

			}

			.member__type--key-collaborators {

				width: calc(100% - 460px);
				// background: darken(gray, 10%);

			}

				.member__subheader {

					display: inline-block;
					font-size: 1.75rem;
					border-bottom: 1px solid $color-base-white;

				}

				.member__subheader--core-team {

					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;

				}

				.member__subheader--key-collaborators {}

					.core-team__containers {
					
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: space-between;
						align-items: flex-start;
						align-content: flex-start;
						
					}		

						.core-team__container {}

						.core-team__founder {

							width: 124px;
							padding: 50px 0 0 0;

						}

						.core-team__core-team {

							width: calc(100% - 164px);

						}

							.members__scroll {}

							.members__scroll--core-team {}

							.members__scroll--key-collaborators {

								margin: 40px 0 0 0;
								padding: 0 0 60px 0;
								overflow-x: auto;

							}

								.members__list {

									margin: 0;
									padding: 0;
									list-style: none;

								}

								.members__list--core-team {

									display: flex;
									flex-direction: row;
									flex-wrap: wrap;
									justify-content: space-between;
									align-items: flex-start;
									align-content: flex-start;

								}

								.members__list--key-collaborators {

									width: 1520px;

									display: flex;
									flex-direction: row;
									flex-wrap: nowrap;
									justify-content: flex-start;
									align-items: flex-start;
									align-content: flex-start;

									// background: pink;

								}

									.member__item {}

									.member__item--core-team {

										width: 120px;
										margin: 40px 0 0 0;
										padding: 0;

										&:first-of-type {

											margin: 0;

										}

										&:nth-child(2) {

											margin: 0;

										}

									}

									.member__item--key-collaborators {

										width: 120px;
										margin: 0 1.25em 0 0;
										padding: 0;
										// background: darken(gray, 20%);

										&:last-of-type {

											margin: 0;

										}

									}

									.member__item--founder {

										margin: 0;

									}

										.member__photo {}

											.member__img {

												margin: 0 auto;
												border: 2px solid $color-base-white;
												border-radius: 50%;

											}

										.member__name {

											margin: 0.50em 0 0 0;
											text-transform: none;
											text-align: center;

										}

										.member__role {

											margin: 0.50em 0 0 0;
											text-align: center;

										}

										.member__bio {

											display: none; // Temporarily hidden.

											p {

												&:last-of-type {

													margin: 0;

												}

											}

												a {

													&:hover {}

												}

										}