/*------------------------------
Section: About
------------------------------*/

// Notes...

.section__about {

	padding: 0 1.25em;

	background: darken(pink, 10%);

	// clip-path: ellipse(100% 100% at 50% 100%);

}

	.about__inner-wrap {

		width: 100%;
		max-width: 880px;
		margin: 0 auto;
		padding: 140px 0 260px 0;

		// background: darken(pink, 5%);

	}

		.about__header {

			display: none; // This is currently not in use.

		}

		.about__overview {

			// background: darken(pink, 10%);

			@media screen and (min-width: 640px) {

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: flex-end;
				align-content: flex-start;

			}

		}

			.about__mission-statement {

				@media screen and (min-width: 640px) {

					width: calc(100% - 240px);
					padding: 0 2.5em 0 0;

				}

				p {

					&:last-of-type {

						margin: 0;

					}

				}

					b,
					strong {

						font-size: 1.50em;
						line-height: 1.2;

					}

			}

			.about__founded {

				margin: 2em 0 0 0;
				text-align: right;

				@media screen and (min-width: 640px) {

					margin: 0;
					width: 240px;
					overflow: hidden;

				}

				span {

					font-size: 4.0rem;
					line-height: 0.75; // Adjustment to make sure this baseline aligns with the overview baseline.

				}

			}

		.about__members {

			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
			align-content: flex-start;
			margin: 65px 0 0 0;

			// background: darken(pink, 10%);

			@media screen and (min-width: 640px) {

				margin: 130px 0 0 0;

			}

			@media screen and (min-width: 800px) {

				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;

			}

		}

			.member__type {}

			.member__type--core-team {

				position: relative;
				width: 420px;
				// background: gray;

			}

			.member__type--key-collaborators {

				width: 100%;
				margin: 65px 0 0 0;
				// background: darken(gray, 10%);

				@media screen and (min-width: 800px) {

					width: calc(100% - 460px);
					margin: 0;

				}

			}

				.member__subheader {

					display: inline-block;
					font-size: 1.75rem;
					border-bottom: 1px solid $color-base-white;

				}

				.member__subheader--core-team {

					// background: green;

					@media screen and (min-width: 500px) {

						position: absolute;
						left: 0;
						top: 0;
						z-index: 1;

					}

				}

				.member__subheader--key-collaborators {}

					.core-team__containers {
					
						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						justify-content: flex-start;
						align-items: center;
						align-content: flex-start;
						
						@media screen and (min-width: 500px) {

							flex-direction: row;
							justify-content: space-between;
							align-items: flex-start;
							
						}

					}		

						.core-team__container {}

						.core-team__founder {

							width: 124px;
							margin: 25px 0 0 0;

							@media screen and (min-width: 500px) {

								margin: 0;
								padding: 50px 0 0 0;

							}

						}

						.core-team__core-team {

							width: calc(100% - 164px);
							margin: 40px 0 0 0;

							@media screen and (min-width: 500px) {

								margin: 0;

							}

						}

							.members__scroll {}

							.members__scroll--core-team {}

							.members__scroll--key-collaborators {

								margin: 40px 0 0 0;
								padding: 0 0 60px 0;
								overflow-x: auto;

							}

								.members__list {

									margin: 0;
									padding: 0;
									list-style: none;

								}

								.members__list--core-team {

									display: flex;
									flex-direction: row;
									flex-wrap: wrap;
									justify-content: space-between;
									align-items: flex-start;
									align-content: flex-start;

								}

								.members__list--key-collaborators {

									width: 1520px;

									display: flex;
									flex-direction: row;
									flex-wrap: nowrap;
									justify-content: flex-start;
									align-items: flex-start;
									align-content: flex-start;

									// background: pink;

								}

									.member__item {

										position: relative;

										&.member__item--is-active {}

									}

									.member__item--core-team {

										width: 120px;
										margin: 40px 0 0 0;
										padding: 0;

										&:first-of-type {

											margin: 0;

										}

										&:nth-child(2) {

											margin: 0;

										}

									}

									.member__item--key-collaborators {

										width: 120px;
										margin: 0 1.25em 0 0;
										padding: 0;
										// background: darken(gray, 20%);

										&:last-of-type {

											margin: 0;

										}

									}

									.member__item--founder {

										margin: 0;

										.member__bio {

											top: 144px;

											.member__item--is-active & {}

										}

									}

										.member__photo {

											cursor: pointer;

										}

											.member__img {

												margin: 0 auto;
												border: 2px solid $color-base-white;
												border-radius: 50%;

											}

										.member__name {

											margin: 0.50em 0 0 0;
											text-transform: none;
											text-align: center;

										}

										.member__role {

											margin: 0.50em 0 0 0;
											text-align: center;

										}

										.member__bio {

											display: none;
											position: absolute;
											left: 50%;
											top: 84px;
											width: 200px;
											height: 300px;
											margin-left: -100px;
											padding: 0.50em 0.75em;
											background: $color-base-black;
											border: 2px solid $color-base-white;
											border-radius: 8px;
											box-shadow: 0 10px 15px rgba($color-base-black, 0.65);
											overflow-y: scroll;
											z-index: 1;

											.member__item--is-active & {

												display: block;

											}

											p {

												&:last-of-type {

													margin: 0;

												}

											}

												a {

													&:hover {}

												}

										}