/*------------------------------
Section: Welcome
------------------------------*/

// Notes...

.section__welcome {

	position: relative;
	margin-bottom: -4vw; // Pulls next section up so that curves overlap.
	padding: 0 1.25em 4vw 1.25em; // Padding bottom gives space back due to margin-bottom.

	// background: pink;

}

	.welcome__inner-wrap {

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		max-width: 700px;
		height: 100vh;
		min-height: 460px; // Helps keeps content from overlapping when at a very narrow viewport height.
		margin: 0 auto;

		// background: darken(pink, 5%);

		// Animation test...

		// animation-name: inner-wrap;
		// animation-duration: 1s;
		// animation-iteration-count: 1;
		// animation-direction: normal;
		// animation-timing-function: ease-in-out;
		// animation-fill-mode: forwards;
		// animation-delay: 3s;

	}

		.welcome__header {

			position: relative;
			left: -1em;

			margin: 0;
			font-size: 3rem;
			line-height: 1.40;
			opacity: 0;

			// Animation test...

			animation-name: welcome-header;
			animation-duration: 0.35s;
			animation-iteration-count: 1;
			animation-direction: normal;
			animation-timing-function: ease-in-out;
			animation-fill-mode: forwards;
			animation-delay: 0.75s;	

		}

		@keyframes welcome-header {

			from {}

			to {

				left: 0;
				opacity: 1;

			}

		}

		.services__list {

			position: relative;
			left: -2em;

			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;

			// width: 100%;
			// max-width: 400px;
			// min-height: 100vh;
			margin: 0;
			padding: 0;
			list-style: none;
			opacity: 0;

			// background: darken(pink, 10%);

			// Animation test...

			animation-name: services-list;
			animation-duration: 0.35s;
			animation-iteration-count: 1;
			animation-direction: normal;
			animation-timing-function: ease-in-out;
			animation-fill-mode: forwards;
			animation-delay: 1s;

		}

		@keyframes services-list {

			from {}

			to {

				left: 0;
				opacity: 1;

			}

		}

			.service__item {

				display: block;
				width: 100%;
				margin: 0 0 1.5em 0;
				// background: darken(pink, 15%);
				cursor: pointer;

				&:last-of-type {

					margin: 0;

				}

				&.service__item--is-active {}

			}

				.service__title {

					position: relative;
					display: inline-block;
					margin: 0;
					padding: 0 20px 0 0;
					font-size: 1.5rem;

					&:after {

						content: "";

						position: absolute;
						right: 0;
						top: 50%;
						width: 6px;
						height: 10px;
						margin-top: -5px;
						background: url(../img/service-toggle.svg) center center no-repeat;
						background-size: 6px 10px;
						z-index: 1;

					}

					.service__item--is-active & {

						padding: 0 35px 0 0;
						font-size: 3rem;

						&:after {

							width: 12px;
							height: 20px;
							margin-top: -9px;
							transform: rotate(90deg);
							// background-color: pink;
							background-size: 12px 20px;

						}

					}

				}

				.service__description {

					display: none;

					p {

						&:last-of-type {

							margin: 0;

						}

					}

					.service__item--is-active & {

						display: block;
						margin: 0.5em 0 0 0;

					}

				}

				.service__samples {

					position: absolute;
					right: 0;
					top: 0;
					width: 75%;
					height: 100%;
					opacity: 0;
					transition: opacity 0.70s ease-in-out;
					z-index: -1;

					// background: rgba(pink, 0.65);

					.service__item--is-active & {

						opacity: 1;

					}

				}

					.service__sample {

						position: absolute;
						right: 0;
						top: 0;
						width: 100%;
						height: 100%;
						filter: drop-shadow(0 0 1.25em rgba($color-base-black, 0.65));
						z-index: 1;

					}

					.service__sample--1 {}

					.service__sample--2 {

						z-index: 2;

					}

					.service__sample--3 {

						z-index: 3;

					}

						.service__img {

							width: 100%;
							height: 100%;

							background-size: cover;
							background-size: center center;

						}

						.service__img--1 {

							clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);

						}

						.service__img--2 {

							clip-path: polygon(100% 0, 0% 100%, 100% 100%);

						}

						.service__img--3 {

							clip-path: polygon(100% 50%, 0% 100%, 100% 100%);

						}

		/* CTA */

		.welcome__cta {

			display: none; // Temporarily hidden.

			margin: 2.5em 0 0 0;
			font-size: 1.75rem;
			text-transform: uppercase;
			text-align: center;

		}

			.welcome__cta-link {

				position: relative;
				display: inline-block;
				padding: 0.0625em 0.75em;
				color: $color-base-black;
				background: $color-base-white;
				border-radius: 8px;

				&:hover {

					text-decoration: none;

				}

			}

		.welcome__background {

			position: absolute;
			left: 0;
			top: 60px;
			width: 100%;
			height: 644px;
			opacity: 0;
			overflow: hidden;
			z-index: -2;

			// Animation test...

			animation-name: welcome-background;
			animation-duration: 1.25s;
			animation-iteration-count: 1;
			animation-direction: normal;
			animation-timing-function: ease-in-out;
			animation-fill-mode: forwards;
			animation-delay: 0.75s;	

		}

		@keyframes welcome-background {

			from {

				top: 120px;
				opacity: 0;

			}

			to {

				top: 60px;
				opacity: 1;

			}

		}

			.welcome__img {

				position: absolute;
				left: 50%;
				top: 0;
				width: 100%;
				min-width: 1644px;
				max-width: none;
				height: auto;
				transform: translate(-50%, 0);
				z-index: 1;

				@media screen and (min-width: 1600px) {

					width: 100%;
					height: auto;

				}

			}