/*------------------------------
Section: Welcome
------------------------------*/

// Notes...

.section__welcome {

	position: relative;
	margin-bottom: -4vw; // Pulls next section up so that curves overlap.
	padding: 0 1.25em 4vw 1.25em; // Padding bottom gives space back due to margin-bottom.

	// background: pink;

}

	.welcome__inner-wrap {

		// position: relative;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		width: 100%;
		max-width: 700px;
		height: 100vh;
		min-height: 460px; // Helps keeps content from overlapping when at a very narrow viewport height.
		margin: 0 auto;

		// background: rgba(pink, 0.50);

		// transition: max-width 0.35s ease-in 1.25s;

		// When a service item is selected...

		.section__welcome--is-active & {

			// max-width: 1200px;

		}

	}

		.welcome__header {

			// position: absolute;
			// left: -1em;

			display: flex;
			flex-direction: column;
			justify-content: center;

			max-width: 400px;
			height: 100%;
			margin: 0;
			font-size: 3rem;
			line-height: 1.40;
			// opacity: 0;
			// transition: all 0.35s ease-in 1.0s;

			// background: rgba(pink, 0.50);

			.section--is-visible & {

				// left: 0;
				// opacity: 1;

			}

			// When a service item is selected...

			.section__welcome--is-active & {

				// opacity: 0;

			}

		}

		.services__list {

			// position: absolute;
			// left: calc(100% - 163px - 1em);

			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;

			// width: 100%;
			height: 100%;
			// max-width: 400px;
			margin: 0;
			padding: 0;
			list-style: none;
			// opacity: 0;
			// transition: all 0.35s ease-in 1.25s;

			z-index: 2;

			.section--is-visible & {

				// left: calc(100% - 163px);
				// opacity: 1;

			}

			// When a service item is selected...

			.section__welcome--is-active & {

				// left: 0;

			}

		}

			.service__item {

				display: block;
				width: 100%;
				margin: 0 0 1.5em 0;
				cursor: pointer;

				// background: rgba(pink, 0.50);

				&:last-of-type {

					margin: 0;

				}

				&.service__item--is-active {}

			}

				.service__title {

					position: relative;
					display: inline-block;
					margin: 0;
					padding: 0 20px 0 0;
					font-size: 1.5rem;
					// transition: all 0.35s ease-in-out;

					&:after {

						content: "";

						position: absolute;
						right: 0;
						top: 50%;
						width: 6px;
						height: 10px;
						margin-top: -5px;
						background: url(../img/service-toggle.svg) center center no-repeat;
						background-size: 6px 10px;
						z-index: 1;

					}

					&:hover {}

					.service__item--is-active & {

						padding: 0 35px 0 0;
						font-size: 3rem;

						&:after {

							width: 12px;
							height: 20px;
							margin-top: -9px;
							transform: rotate(90deg);
							background-size: 12px 20px;

							// background-color: pink;

						}

					}

				}

				.service__description {

					display: none;
					width: 400px;
					// max-width: 400px;

					p {

						&:last-of-type {

							margin: 0;

						}

					}

					.service__item--is-active & {

						display: block;
						margin: 0.5em 0 0 0;

					}

				}

		/* Services Samples */

		.services__samples {

			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			// opacity: 0;
			// transition: opacity 0.50s ease-in-out;
			z-index: 1;

			// background: rgba(pink, 0.50);

			.section__welcome--is-active & {

				// opacity: 1;

			}

		}

			.service__samples {

				display: none;

				position: absolute;
				right: 0;
				top: 0;
				width: 75%;
				height: 100%;
				z-index: 1;

				&.service__samples--is-visible {

					display: block;

				}

			}

				.service__highlighted-project {

					position: absolute;
					right: 2em;
					bottom: 4em;
					padding: 0.25em 0.50em;
					background: rgba($color-base-black, 0.27);
					border-radius: 8px;
					z-index: 9999;

				}

					.service__highlighted-project-link {

						color: $color-base-white;

					}

				.service__sample {

					position: absolute;
					right: 0;
					top: 0;
					width: 100%;
					height: 100%;
					filter: drop-shadow(0 0 1.25em rgba($color-base-black, 0.65));
					z-index: 2;

				}

				.service__sample--1 {}

				.service__sample--2 {

					z-index: 3;

				}

				.service__sample--3 {

					z-index: 4;

				}

					.service__img {

						width: 100%;
						height: 100%;

						background-size: cover;
						background-size: center center;

					}

					.service__img--1 {

						clip-path: polygon(33% 0, 100% 0, 100% 100%, 0% 100%);

					}

					.service__img--2 {

						clip-path: polygon(100% 0, 0% 100%, 100% 100%);

					}

					.service__img--3 {

						clip-path: polygon(100% 50%, 0% 100%, 100% 100%);

					}

		/* CTA */

		.welcome__cta {

			display: none; // Temporarily hidden.

			margin: 2.5em 0 0 0;
			font-size: 1.75rem;
			text-transform: uppercase;
			text-align: center;

		}

			.welcome__cta-link {

				position: relative;
				display: inline-block;
				padding: 0.0625em 0.75em;
				color: $color-base-black;
				background: $color-base-white;
				border-radius: 8px;

				&:hover {

					text-decoration: none;

				}

			}

		.welcome__background {

			position: absolute;
			left: 0;
			top: calc(50% - 100px);
			width: 100%;
			height: 644px;
			// opacity: 0;
			overflow: hidden;
			z-index: -2;

			// Animation test...

			// animation-name: welcome-background;
			// animation-duration: 1.50s;
			// animation-iteration-count: 1;
			// animation-direction: normal;
			// animation-timing-function: ease-in;
			// animation-fill-mode: forwards;
			// animation-delay: 0.75s;

		}

		@keyframes welcome-background {

			from {

				// top: 100%;

			}

			to {

				// top: calc(100% - 400px);
				// opacity: 1;

			}

		}

			.welcome__img {

				position: absolute;
				left: 50%;
				top: 0;
				width: 100%;
				min-width: 1644px;
				max-width: none;
				height: auto;
				transform: translate(-50%, 0);
				z-index: 1;

				@media screen and (min-width: 1600px) {

					width: 100%;
					height: auto;

				}

			}