/*------------------------------
Section: Work
------------------------------*/

// Notes...

.section__work {

	margin-bottom: -4vw; // Pulls next section up so that curves overlap.
	padding: 0 1.25em 4vw 1.25em; // Padding bottom gives space back due to margin-bottom.

	// Gradient to use...

	// background: linear-gradient(rgb(0, 3, 70) 0%, rgba(255, 160, 0, 1) 100%),
	// 			linear-gradient(60deg, rgb(0, 5, 34) 0%, rgb(0, 255, 229) 100%),
	// 			radial-gradient(100% 165% at 100% 100%, rgb(255, 0, 168) 0%, rgb(0, 255, 120) 100%),
	// 			radial-gradient(100% 150% at 0% 0%, rgb(255, 245, 0) 0%, rgb(81, 213, 0) 100%);

	// background-blend-mode: overlay, soft-light, difference, normal;

	// Top curve...

	mask: url(../img/section-curve.svg) center top no-repeat;
	mask-size: cover;

	// background: rgba(pink, 0.50);

	background: url(../img/work-gradient-small.png) center top no-repeat;
	background-size: cover;

}

	.work__inner-wrap {

		width: 100%;
		max-width: 808px;
		margin: 0 auto;
		padding: 120px 0 280px 0;
		// background: darken(pink, 5%);

	}

		.work__header {

			margin: 0;
			padding: 0 0.375em; // This helps match alignment on the left and right sides.
			font-size: 1.125rem;
			text-transform: none;
			// text-align: center;

		}

		.work__list {

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			align-content: flex-start;

			margin: 1em 0 0 0;
			padding: 0;
			list-style: none;

			// background: darken(pink, 10%);

		}

			.work__item {

				position: relative;
				width: 190px;
				margin: 0.75em 0.375em 0 0.375em;
				transition: all 0.35s ease-in-out;

				&:hover {

					position: relative;
					outline: 3px solid $color-base-white;
					box-shadow: 0 0 25px 5px rgba($color-base-white, 0.75);

				}

			}

			.work__item--gap {}

				.work__link {

					position: relative;
					display: block;
					overflow: hidden; // This is temporary until long title names are figured out.

					&:hover {}

				}

					.work__cover {}

						.work__img {

							height: auto !important;

						}

					.work__title {

						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						margin: 0;
						padding: 1em 0.75em 0.75em 0.75em;
						font-size: 1.25rem;
						color: $color-base-white;
						background: rgba($color-base-black, 0.70);
						mask: url(../img/cover-curve.svg);
						opacity: 0;
						transition: opacity 0.35s ease-in-out;
						z-index: 1;

						.work__link:hover & {

							opacity: 1;

						}

					}

			/* Repeated Covers */

			.work__item:nth-child(1) {

				.work__repeater {}

					.work__repeater-item {}

					.work__repeater-item--1 {

						right: -57px;
						bottom: -60px;

					}

					.work__repeater-item--2 {

						right: -76px;
						bottom: -110px;

					}

			}

			.work__item:nth-child(2) {

				.work__repeater {}

					.work__repeater-item {}

					.work__repeater-item--1 {

						right: 0;
						bottom: -60px;

					}

					.work__repeater-item--2 {

						right: 0;
						bottom: -110px;

					}

			}

			.work__item:nth-child(3) {

				.work__repeater {}

					.work__repeater-item {}

					.work__repeater-item--1 {

						left: 0;
						bottom: -60px;

					}

					.work__repeater-item--2 {

						left: 0;
						bottom: -110px;

					}

			}

			.work__item:nth-child(4) {

				.work__repeater {}

					.work__repeater-item {}

					.work__repeater-item--1 {

						left: -57px;
						bottom: -60px;

					}

					.work__repeater-item--2 {

						left: -76px;
						bottom: -110px;

					}

			}

				.work__repeater {

					position: absolute;
					left: 0;
					top: 0;
					width: 190px;
					height: 280px;
					z-index: -1 !important;

				}

					.work__repeater-item {

						position: absolute;
						width: 190px;
						height: 280px;
						// background: $color-base-black;

					}

					.work__repeater-item--1 {

						width: 133px;
						height: 196px;
						z-index: 2;

						.repeater__img {

							opacity: 0.28;

						}

					}

					.work__repeater-item--2 {

						width: 114px;
						height: 168px;
						z-index: 1;

						.repeater__img {

							opacity: 0.12;

						}

					}

						.repeater__img {

							width: 100%;
							max-width: 100%;
							height: auto;

						}

		.work__cta {

			margin: 2.5em 0 0 0;
			font-size: 1.75rem;
			text-transform: uppercase;
			text-align: center;

		}

			.work-cta__link {

				position: relative;
				display: inline-block;
				height: 50px;
				padding: 2px 0.75em 0 0.75em;
				color: $color-base-white;
				background: $color-base-black;
				border: 2px solid $color-base-white;
				border-radius: 25px;

				&:after {

					content: "";
					
					position: absolute;
					right: -38px;
					top: 50%;
					display: block;
					width: 60px; // Extra width added to cover empty space between this and the button.
					height: 50px;
					margin-top: -25px;
					padding: 0;
					background: url(../img/more-arrow.svg) right center no-repeat;
					background-size: 22px 28px;
					overflow: hidden;
					z-index: 1;

				}

				&:hover {

					text-decoration: none;

				}

			}